# Ignore compiled class files
*.class

# Ignore .env file (important for secrets)
.env

# Ignore logs
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build directories
/bin/
/target/

# VS Code
.vscode/

# Maven
.mvn/
